<html>
<head>
    <title> oh </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>
<div class='container'>
    <div class="row">
       <!-- Pack 1-->
        <div class="col-md-3" id="home-box">
            <ul class="list-group">
                <li class="list-group-item"> previous hash: paidjsfpaidjfpaijsdfpijadofi
                <li class="list-group-item"> Hashcode: paidjsfpaidjfpaijsdfpijadofi </li>
                <li class="list-group-item"> Mined by: weihao </li>
                <li class="list-group-item"> Transactions:
                    <ul>
                        <li>apsdoif</li>
                        <li>adfadf</li>
                        <li>adfadf</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3" id="home-box">
            <ul class="list-group">
                <li class="list-group-item"> Responsible design</li>
                <li class="list-group-item"> 3 examples</li>
                <li class="list-group-item"> HTML & CSS3</li>
                <li class="list-group-item"> PSD included</li>
                <li class="list-group-item"> Light and clean</li>
                <li class="list-group-item"> Customizible HTML</li>
            </ul>
        </div>
        <div class="col-md-3" id="home-box">
            <ul class="list-group">
                <li class="list-group-item"> Responsible design</li>
                <li class="list-group-item"> 3 examples</li>
                <li class="list-group-item"> HTML & CSS3</li>
                <li class="list-group-item"> PSD included</li>
                <li class="list-group-item"> Light and clean</li>
                <li class="list-group-item"> Customizible HTML</li>
            </ul>
        </div>
    </div>


</div>
</body>


</html>
